
<!-- Jumbotron -->
<div class="jumbotron">
  <h1>It may change Ur View.</h1>
  <p class="lead">Yes, you can know what users may think. UView integrated with <a href="https://sitewatch.apple.com/">Sitewatch</a> and <a href="https://reports.sd.apple.com/">Reports</a>. <br>Besides, we know more about international users through emotion analysis technique. Just for Apple.</p>
  
  <!-- Search Box -->
  <div class="row lead">
    <div class="col-lg-8 col-md-offset-2">
      <div class="input-group">
        <input type="text" class="form-control input-lg" placeholder="Give us some production keyword...">
        <span class="input-group-btn">
          <button class="btn btn-success btn-lg" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-8 -->
    <div class="col-lg-2"></div>
  </div>
  <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p> -->
  
  <!-- Hot words -->
  <p class="col-lg-6 col-md-offset-3">Try:
    <a>iPhone5s</a> | 
    <a>苹果</a> | 
    <a>iOS7</a> | 
    <a>Siri</a> | 
    <a>App Store</a> |
    <a>Apple</a> | 
    <a>iPad</a> | 
    <a>移动4G</a> | 
    <a>Mac</a> | 
    <a>北京</a> 
  </p>
  

  <!-- Example row of columns -->
  <!-- <div class="row">
    <div class="col-lg-4">
      <h2>Safari bug warning!</h2>
      <p class="text-danger">Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div> -->
</div>




