
<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Userview</h1>
<!--   <p class="lead">Yes, you can know what users may think. iNeed integrated with <a href="https://sitewatch.apple.com/">Sitewatch</a> and <a href="https://reports.sd.apple.com/">Reports</a>. <br>Besides, we know more about international users through emotion analysis technique. Just for Apple.</p> -->

  <!-- Search Box -->
  <div class="row" id="home-searchbox">
    <div class="col-lg-8 col-md-offset-2">
      <div class="input-group">
        <input type="text" class="form-control input-lg" placeholder="Apple">
        <span class="input-group-btn">
          <button class="btn btn-success btn-lg" type="button">Go</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-8 -->
    <div class="col-lg-2"></div>
  </div>
  <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p> -->
  
  <!-- Hot words -->
  <p class="row" id="home-hotwords">
    <a>iPhone5s</a> | 
    <a>苹果</a> | 
    <a>iOS7</a> | 
    <a>Siri</a> | 
    <a>App Store</a> |
    <a>WWDC</a> | 
    <a>iPad</a> | 
    <a>移动4G</a> | 
    <a>Mac</a> | 
    <a>iPod</a> 
  </p>
  
  <!-- Example row of columns -->
  <div class="row" id="home-status">
    <div class="col-lg-1"></div>    

    <div class="col-lg-4" id="home-collectlist">
      <h2>Collecting</h2>
      <table class="table table-hover">
        <tbody>
          <tr><td>iPhone</td><td>1 hours</td></tr>
          <tr><td>iOS</td><td>2 days</td></tr>        
        </tbody>
      </table>
      <p><a class="btn btn-primary" href="#" role="button">Request Keyword &raquo;</a></p> 
    </div>
    
    <div class="col-lg-2"></div>   

    <div class="col-lg-4" id="home-finishlist">
      <h2>Finished</h2>
      <table class="table table-hover">
        <tbody>
          <tr><td>苹果</td><td>1523 views</td></tr>
          <tr><td>移动4G</td><td>325 views</td></tr>        
        </tbody>
      </table>
      <p><a class="btn btn-primary" href="#" role="button">View More &raquo;</a></p>
    </div>

    <div class="col-lg-1"></div>    
  </div>

</div>




