// Place all the styles related to the report_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#report-view{
  margin-top:24px;
  text-align: left;
}

#report-view #header{
  min-width:0px;
  padding:0px;
  border-bottom-width: 0px;
  margin-left:0px;
}

#report-view #header-bot{
  min-width:0px;
}

#report-view #report-content{
  padding-left: 5px;
  padding-right: 8px;
  margin-top: 15px;
}

#report-view #report-content h4{
  margin: 0px 6px;
}

#report-view #charts-content .progress{
  margin-bottom:10px;
}

#report-view #charts-content .progress-bar{
  margin-top:0px;
  border:none;
}

#report-view #charts-content th{
  vertical-align: none!important;
}

#report-view table{
  margin-bottom:10px;
/*  table-layout: fixed;
  word-wrap: break-word;*/
}

#report-view progress{
  margin-bottom: none!important;
}

#report-view #keyword-panel #keyword-content .alert{
  margin-bottom: 5px;
}