// Place all the styles related to the report_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#report-view{
  margin-top:24px;
  text-align: left;
}

#report-view #header{
  min-width:0px;
  padding:0px;
  width:100%;
  border-bottom-width: 0px;
}

#report-view #header-bot{
  min-width:0px;
  margin-left:-2px;
  width:100.4%;
}

//#report-view table{
//  table-layout: fixed;
//  word-wrap: break-word;
//}

#charts-content .progress{
  margin-bottom:10px;
}

#charts-content .progress-bar{
  margin-top:0px;
}

#report-view table{
  margin-bottom:10px;
}