// Place all the styles related to the sitewatch_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sitewatch-searchbox,
#sitewatch-view{
  margin-top: 24px;
}

/* _header from sitewatch
----------------------------------------------------------- */

#header .header-bot h1 {
  padding:5px 0px;
  font-weight:normal;
  font-size:24px;
  color:white;
  line-height: 36px;
  margin-bottom: 18px;
  text-shadow: none;
  margin: 0;
  outline: 0;
  font-family: 'Lucida Grande',Arial;
  background: transparent;
  text-decoration:none;
}

#container{
  width : 99.5%;
}