// Place all the styles related to the sitewatch_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sitewatch-searchbox,
#sitewatch-view{
  margin-top: 24px;
}

/* custom sitewatch-view
----------------------------------------------------------- */

#header .header-bot h1 {
  padding:5px 0px;
  font-weight:normal;
  font-size:24px;
  color:white;
  line-height: 36px;
  margin-bottom: 18px;
  text-shadow: none;
  margin: 0;
  outline: 0;
  font-family: 'Lucida Grande',Arial;
  background: transparent;
  text-decoration:none;
}

#container{
  width : 99.5%;
}

#guide_wrap{
  height: 39px;
}

#jive-body-intro{
  margin: 24px;
}

.jive-alert-title{
  margin-top: 5px;
  margin-bottom: 0px;
}

#jive-body-maincol-container{
  min-height: 0px;
}

.jive-thread-messages ul{
  margin-top: 0px;
  margin-bottom: -5px;
}

.jive-thread-messages li.pages{
  height : 18px !important;
}

.jive-thread-messages{
  -moz-border-radius-bottom-left: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottom-right: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.jive-thread-post{
  text-align: left;
  font-size: 90%;
}