// Place all the styles related to the sitewatch_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sitewatch-view{
  margin-top: 24px;
}

#sitewatch-searchbox{
  margin-top:10px;
  margin-bottom:12px;
  margin-left:4px;
}

/* custom sitewatch-view
----------------------------------------------------------- */

#header .header-bot h1 {
  padding:5px 0px;
  font-weight:normal;
  font-size:24px;
  color:white;
  line-height: 36px;
  margin-bottom: 18px;
  text-shadow: none;
  margin: 0;
  outline: 0;
  font-family: 'Lucida Grande',Arial;
  background: transparent;
  text-decoration:none;
}

#container{
  width : 99.5%;
}

#guide_wrap{
  height: 39px;
}

#jive-body-intro{
  padding:0px 20px!important;
}

.jive-alert-title{
  margin-top: 5px;
  margin-bottom: 0px;
}

#jive-body-maincol-container{
  min-height: 0px;
}

.jive-thread-messages ul{
  margin-top: 0px;
  margin-bottom: -5px;
}

.jive-thread-messages li.pages{
  height : 18px !important;
}

.jive-thread-messages{
  -moz-border-radius-bottom-left: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottom-right: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

.jive-thread-post{
  text-align: left;
  font-size: 90%;
}

//posts userview bar
.post-footer{
  border-bottom:1px solid rgb(196,196,196);
}

#userview-custom-bar{
  margin-left:5px; 
  height:40px;
}

#userview-custom-bar .row{
  margin-top: 10px;
  margin-right: 20px;
}

#userview-custom-bar .col-lg-3{
  margin-top:3px;
  margin-left:-20px;
}

#userview-custom-bar button{
  margin-top:8px; 
  margin-right:20px;
}

#userview-custom-bar span{
  font-size:11px;
}

#jive-body-intro .row{
  margin:10px 5px;
}

#jive-body-intro .row .alert{
  padding-top:4px;
  padding-bottom: 0px;
  padding-right: 25px;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-right:10px;
  border:1px solid red;
  border-radius: 2px;
}

#jive-body-intro .row .alert button{
  top:-3px;
}

#jive-body-intro .row #condition{
  margin-top: 7px;
  margin-right: 10px;
}

#jive-body-intro #addfilterrow .pull-left{
  margin-right: 10px;
}

#jive-body-intro .row #addfilter{
  margin-top: 7px;
  margin-right: 17px;
}


#jive-body-intro .row .btn-group ul li a{
  float: none;
  text-align: left;
}


