/ page navigation
%ul.pagination.threadpager
  %li.lft
  %li.rt
    %ul.controls
      %li.first
        %a.first &lt;&lt;
      %li.prev
        %a.prev &lt;
      %li.pages
        %span 1
        %a 2
        %a 3
        %a 4
        %a 5
      %li.next
        %a &gt;
      %li.last
        %a &gt;&gt;