<div class="jive-thread-post" id="post_14762753_wrapper">
  <a name="23548095"></a>
  <div class="jive-thread-post-body">
    <form accept-charset="UTF-8" action="/watches/mavericks-fcs/sites/1790/posts/14762753/toggle" class="mark-form" data-remote="true" id="edit_post_14762753" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="7hhgXFTR7WThU/wXO0RP1mK0Ob3BFUPlL/Q1+4bYX7w="></div>
      <input id="apple_directory_service_id" name="apple_directory_service_id" type="hidden" value="382486533">
      <input id="watched_site_for_post_14762753" name="watched_site_id" type="hidden" value="6971">
      <div class="jive-thread-post-body-container">
        <div class="jive-thread-post-subject" id="post_14762753_header">

          <div class="jive-thread-post-subject-content">
            <h2>
              <a href="/watches/mavericks-fcs/sites/1790/topics/2395002">Re: Samsung SCX-4521F <span class="highlighted">print</span>ing and scanning with OS X 10.9 Mavericks</a>
              <span class="checkbox">
              </span>
            </h2>
            <h3>
              10/27/13 07:55 AM PDT
              on <a href="https://discussions.apple.com/message/23548095?tstart=0#23548095" target="_blank">OS X Mavericks</a> by <a href="https://discussions.apple.com/people/MrHoffman">MrHoffman</a>
            </h3>
          </div>
        </div>
        <div class="jive-thread-post-message">
          <div class="jive-rendered-content">
            <div class="jive-rendered-content">
              <!-- [DocumentBodyStart:a2263acd-9f19-4175-b73e-63e95f7d0912] --><div class="jive-rendered-content"><p>In the absence of a confirming statement from the vendor (and unless you get lucky with somebody else around here that has this particular mult-function <span class="highlighted">print</span>er), you can install Mavericks on an external USB disk (either a fresh install, or clone your current boot disk and <span class="highlighted">upgrade</span> that), boot that external disk, and test.</p><p style="min-height: 8pt; height: 8pt; padding: 0px;">&nbsp;</p><p>There are obviously a gazillion other models of multi-function devices around, so there are alternatives if Samsung doesn't update support for this <span class="highlighted">print</span>er.</p></div><!-- [DocumentBodyEnd:a2263acd-9f19-4175-b73e-63e95f7d0912] --><!-- BEGIN PS Customization: Model Info --><!-- END PS Customization: Model Info -->
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="post-footer" style="border-bottom:1px solid rgb(196,196,196)">
      <ul class="issues" id="post_14762753_issues">
        <div class="row" style="margin-left:5px; height:40px;">

          <label class="radio-inline pull-left " style="margin-top:8px; ">
            <input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1"> <span class="label label-success">Positive</span>
          </label>
          <label class="radio-inline pull-left" style="margin-top:8px; ">
            <input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2"> <span class="label label-info">Neutral</span>
          </label>
          <label class="radio-inline pull-left" style="margin-top:8px; ">
            <input type="radio" name="optionsRadios2" id="optionsRadios3" value="option3"> <span class="label label-danger">Negative</span>
          </label>
          <div class="col-lg-3 pull-left"  style="margin-top:3px;  margin-left:30px;">
            <input class="form-control input-sm" type="text" placeholder="Comments...">
          </div>
          <div class="col-lg-3 pull-left"  style="margin-top:3px; ">
            <input class="form-control input-sm" type="text" placeholder="Radar://...">
          </div>
          <button type="button" class="btn btn-primary btn-xs pull-right" style="margin-top:8px; margin-right:20px;">Add to report &raquo;</button>

        </div>
      </ul>

    </div>
  </div>
</div>

<div>
  <div class="jive-thread-post" id="post_15579260_wrapper">
    <a name="25007958"></a>
    <div class="jive-thread-post-body">
      <form accept-charset="UTF-8" action="/watches/sucabcarve/sites/1794/posts/15579260/toggle" class="mark-form" data-remote="true" id="edit_post_15579260" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="7hhgXFTR7WThU/wXO0RP1mK0Ob3BFUPlL/Q1+4bYX7w="></div>
        <input id="apple_directory_service_id" name="apple_directory_service_id" type="hidden" value="382486533">
        <input id="watched_site_for_post_15579260" name="watched_site_id" type="hidden" value="7143">
        <div class="jive-thread-post-body-container">
          <div class="jive-thread-post-subject" id="post_15579260_header">
            <div class="jive-thread-post-subject-content">
              <h2>
                <a href="/watches/sucabcarve/sites/1794/topics/2599568"><span class="highlighted">10.9.2</span> <span class="highlighted">upgrade</span> stuck after MBA late 2010 went to sleep</a>
                <span class="checkbox">
                </span>
              </h2>
              <h3>
                02/27/14 07:51 AM PST
                on <a href="https://discussions.apple.com/message/25007958?tstart=0#25007958" target="_blank">OS X Mavericks- Installation, Migration &amp; Setup&nbsp;</a> by <a href="https://discussions.apple.com/people/AJ_Dude">AJ_Dude</a>
              </h3>
            </div>
          </div>
          <div class="jive-thread-post-message">
            <div class="jive-rendered-content">
              <div class="jive-rendered-content">
                <!-- [DocumentBodyStart:40e2b846-f166-48c3-a387-49c34cb323e8] --><div class="jive-rendered-content"><p>I started the <span class="highlighted">10.9.2</span> <span class="highlighted">upgrade</span> on my wife's MacBook Air (late 2010) and it proceeded to restart and then showed the App Store icon with a progress bar saying "Installing Software Update". I left it to proceed but when I came back the screen had turned off.&nbsp; I used the trackpad to wake it and the progress bar was still showing at around 90% complete.</p><p style="min-height: 8pt; height: 8pt; padding: 0px;">&nbsp;</p><p>It has now been 5 hours and it has not moved.&nbsp; I have been trying to stop it going to sleep but I have not been able too as I have had things to do.</p><p style="min-height: 8pt; height: 8pt; padding: 0px;">&nbsp;</p><p>Can anyone help me? I don't want to turn it off by holding down the power button in case I brick the thing.</p></div><!-- [DocumentBodyEnd:40e2b846-f166-48c3-a387-49c34cb323e8] -->
                <!-- BEGIN PS Customization: Model Info -->
                <!-- END PS Customization: Model Info -->
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="post-footer" style="border-bottom:1px solid rgb(196,196,196)">
        <ul class="issues" id="post_15579260_issues">
          <div class="row" style="margin-left:5px; height:40px;">

            <label class="radio-inline pull-left " style="margin-top:8px; ">
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> <span class="label label-success">Positive</span>
            </label>
            <label class="radio-inline pull-left" style="margin-top:8px; ">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> <span class="label label-info">Neutral</span>
            </label>
            <label class="radio-inline pull-left" style="margin-top:8px; ">
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> <span class="label label-danger">Negative</span>
            </label>
            <div class="col-lg-3 pull-left"  style="margin-top:3px;  margin-left:30px;">
              <input class="form-control input-sm" type="text" placeholder="Comments...">
            </div>
            <div class="col-lg-3 pull-left"  style="margin-top:3px; ">
              <input class="form-control input-sm" type="text" placeholder="Radar://...">
            </div>
            <button type="button" class="btn btn-primary btn-xs pull-right" style="margin-top:8px; margin-right:20px;">Add to report &raquo;</button>

          </div>
        </ul>

      </div>
    </div>
  </div>
</div>
