
<!-- <h2>Views in Sitewatch</h2> -->

<!-- input-group -->
<div class="input-group col-lg-4" id="sitewatch-searchbox">
  <input type="text" class="form-control input-md" placeholder="Apple">
  <span class="input-group-btn">
    <button class="btn btn-success btn-md" type="button" id="sitewatch-searchbtn" >Go</button>
  </span>
</div>

<!-- sitewatch view -->
<div class = "row" id="sitewatch-view">
  <!-- <iframe class = "col-lg-12" height = "1000" frameborder="0" src = "https://sitewatch.apple.com/" ></iframe> -->
  <!-- header -->
  <div id="header" class="col-lg-12">
    <div class="header-bot" id="header-bot">
      <div class="title" id="title">
        <h1>
          Sitewatch on Userview
        </h1>
      </div>
      <div class="search" id="search"></div>
    </div>
  </div>
  
  <!-- container -->
  <div id="container" class="col-lg-12">
    <div class="jive-body">
      <div class="box">
        <div id="guide">
          <div id="guide_pad">
            <div id="guide_wrap">
              <ol id="breadcrumb">
                <li id="bc-home">
                  <strong><a href="#">Sitewatch</a></strong>
                </li>
                <li>
                  <strong>
                    <a href="#">Userview China</a>
                  </strong>
                </li>
                <li class="active">
                  <strong>
                    <a href="#">Yunyun: iOS</a>
                  </strong>
                </li>
              </ol>

            </div>
          </div>
        </div>
        <div id="boxcap">
          <div id="box-in">
            <div id="box-in-1">
              <div id="jive-body">
                <div id="jive-body-intro">
                  <div class="jive-body-intro-community jive-body-intro-content-page" id="jive-body-intro-content">
                    <div class="clearfix" id="jive-alert">
                      <div class="jive-alert-type jive-alert-announcement">
                        <div class="jive-alert-header">
                          <h5 class="jive-alert-title">
                            <a>Keywords</a>
                          </h5>
                        </div>
                        <div class="jive-alert-content">
                          <div class="jive-rendered-content">
                            <span>Airport</span>, <span>wifi</span>, <span>battery</span>, <span>crash</span>, <span>panic</span>, <span>hang</span>, <span>fail</span>, <span>freez</span>, <span>low space</span>, <span>paging</span>, <span>recovery</span>, <span>security</span>, <span>slow</span>, <span>spin</span>, <span>spod</span>, <span>spotlight</span>, <span>thunder</span>, <span>beach</span>, <span>corrupt</span>, <span>force quit</span>, <span>fps</span>, <span>hung</span>, <span>kill</span>, <span>launch</span>, <span>memory</span>, <span>performance</span>, <span>print</span>, <span>quit</span>, <span>ram</span>, <span>responsive</span>, <span>speed</span>, <span>swap</span>, <span>sync</span>, <span>capsule</span>, <span>upgrade</span>, <span>wheel</span>, <span>widget</span>, <span>powernap</span>, <span>hang </span>, <span>stutter</span>, <span>choppy</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- jive-body-intro -->
                <div id="jive-body-main">
                  <div id="jive-body-maincol-container">
                    <div id="jive-body-maincol">

                      <div class="jive-thread-messages">
                        <ul class="pagination threadpager">
                          <li class="lft"></li>
                          <li class="rt">
                            <ul class="controls">
                              <li class="first"><a href="/watches/mavericks-fcs/sites/1790/posts" class="first">&lt;&lt</a></li>
                              <li class="prev"><a href="/watches/mavericks-fcs/sites/1790/posts" class="prev" rel="prev">&lt;</a></li>
                              <li class="pages">
                                <span>1</span>
                                <a href="/watches/mavericks-fcs/sites/1790/posts?page=2" rel="next">2</a>
                                <a href="/watches/mavericks-fcs/sites/1790/posts?page=3">3</a>
                                <a href="/watches/mavericks-fcs/sites/1790/posts?page=4">4</a>
                                <a href="/watches/mavericks-fcs/sites/1790/posts?page=5">5</a>
                              </li>
                              <li class="next"><a href="/watches/mavericks-fcs/sites/1790/posts?page=2" rel="next">&gt;</a></li>
                              <li class="last"><a href="/watches/mavericks-fcs/sites/1790/posts?page=686">&gt;&gt;</a></li>
                            </ul>
                          </li>
                        </ul>
                        <%= render 'sitewatch_pages/posts' %>

                        <ul class="pagination threadpager">
                          <li class="lft"></li>
                          <li class="rt">
                            <ul class="controls">
                              <li class="first"><a href="/watches/mavericks-fcs/sites/1790/posts" class="first">&lt;&lt</a></li>
                              <li class="prev"><a href="/watches/mavericks-fcs/sites/1790/posts" class="prev" rel="prev">&lt;</a></li>
                              <li class="pages">
                                <span>1</span>
                                <a href="/watches/mavericks-fcs/sites/1790/posts?page=2" rel="next">2</a>
                                <a href="/watches/mavericks-fcs/sites/1790/posts?page=3">3</a>
                                <a href="/watches/mavericks-fcs/sites/1790/posts?page=4">4</a>
                                <a href="/watches/mavericks-fcs/sites/1790/posts?page=5">5</a>
                              </li>
                              <li class="next"><a href="/watches/mavericks-fcs/sites/1790/posts?page=2" rel="next">&gt;</a></li>
                              <li class="last"><a href="/watches/mavericks-fcs/sites/1790/posts?page=686">&gt;&gt;</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <!-- jive-thread-messges -->
                    </div>
                  </div>
                </div>
              <!-- jive-body-main -->
              </div>

            </div>
          </div>
          <div id="box-bottom">
            <span class="left-b"></span>
            <span class="right-b"></span>
          </div>
        </div> 
      </div>
    </div>

  </div>


</div>