
<!-- <h2>Views in Sitewatch</h2> -->

<!-- input-group -->
<div class="input-group col-lg-4" id="sitewatch-searchbox">
  <input type="text" class="form-control input-md" placeholder="Apple">
  <span class="input-group-btn">
    <button class="btn btn-success btn-md" type="button" id="sitewatch-searchbtn" >Go</button>
  </span>
</div>

<!-- sitewatch view -->
<div class = "row" id="sitewatch-view">
  <!-- <iframe class = "col-lg-12" height = "1000" frameborder="0" src = "https://sitewatch.apple.com/" ></iframe> -->
  <!-- header -->
  <div id="header" class="col-lg-12">
    <div class="header-bot" id="header-bot">
      <div class="title" id="title">
        <h1>
          Sitewatch: Yunyun
        </h1>
      </div>
      <div class="search" id="search"></div>
    </div>
  </div>
  
  <!-- container -->
  <div id="container" class="col-lg-12">
    <div class="jive-body">
      <div class="box">
        <div id="guide">
          <div id="guide_pad">
            <div id="guide_wrap">
              <ol id="breadcrumb">
                <li id="bc-home">
                  <strong><a href="https://sitewatch.apple.com/">Sitewatch</a></strong>
                </li>
                <li>
                  <strong>
                    <a href="/watches/mavericks-fcs">Mavericks FCS</a>
                  </strong>
                </li>
                <li class="active">
                  <strong>
                    <a href="/watches/mavericks-fcs/sites/1790/posts">AppleDiscussions: OS X Mavericks</a>
                  </strong>
                </li>
              </ol>

            </div>
          </div>
        </div>
        <div class="boxcap">

        </div> 
      </div>
    </div>

  </div>


</div>